Repository CliMA/CloudMicrophysics.jl, pull requests merged in 2024-02, with the labels that each got.

#302 Cleanup in the landing page and docs
  README.md
  docs/Project.toml
  docs/make.jl
  docs/src/DevelopersGuide.md
  docs/src/Glossary.md
  docs/src/IceNucleationParcel0D.md
  docs/src/guides/GettingStarted.jl
  docs/src/guides/Parameters.jl
  docs/src/guides/SimpleModel.jl
  docs/src/index.md
Labels: documentation

#303 unitless N_hat added, Float32 tests passing
  docs/src/P3Scheme.md
  src/P3Scheme.jl
  test/p3_tests.jl
Labels: P3

#317 Update Alpha_va and Gamma Functions
  src/P3Scheme.jl
Labels: P3, needs review

#315 Refactor parameters to use ClimaParameters API
  Project.toml
  docs/src/guides/Parameters.jl
  docs/src/plots/Thersholds_transitions.jl
  src/parameters/AerosolATD.jl
  src/parameters/AerosolActivation.jl
  src/parameters/AerosolDesertDust.jl
  src/parameters/AerosolFeldspar.jl
  src/parameters/AerosolFerrihydrite.jl
  src/parameters/AerosolIllite.jl
  src/parameters/AerosolKaolinite.jl
  src/parameters/AerosolModalNucleation.jl
  src/parameters/AerosolSeasalt.jl
  src/parameters/AerosolSulfate.jl
  src/parameters/Aerosol_H2SO4_Solution.jl
  src/parameters/AirProperties.jl
  src/parameters/IceNucleation.jl
  src/parameters/Microphysics0M.jl
  src/parameters/Microphysics1M.jl
  src/parameters/Microphysics2M.jl
  src/parameters/MicrophysicsP3.jl
  src/parameters/TerminalVelocity.jl
  src/parameters/WaterProperties.jl
Labels: parameters :bricks:

#304 replacing Mohler AF with nucleation rate
  docs/src/API.md
  docs/src/IceNucleation.md
  docs/src/IceNucleationParcel0D.md
  parcel/Tully_et_al_2023.jl
  parcel/parcel.jl
  src/IceNucleation.jl
  test/gpu_tests.jl
  test/heterogeneous_ice_nucleation_tests.jl
  test/performance_tests.jl
Labels: Ice :snowman:

#320 Update to CLIMAParameters v0.9 and Thermodynamics v0.12
  Project.toml
  docs/Project.toml
  parcel/Project.toml
  src/Common.jl
  src/parameters/Microphysics2M.jl
  src/parameters/TerminalVelocity.jl
  test/Project.toml
  test/aerosol_activation_tests.jl
  test/common_functions_tests.jl
  test/microphysics0M_tests.jl
  test/microphysics_noneq_tests.jl
  test/p3_tests.jl
  test/performance_tests.jl
Labels: packages 🍱, parameters :bricks:, needs review

#290 Add sandbox for testing P3 scheme
  p3_sandbox/Project.toml
  p3_sandbox/p3_sandbox.jl
Labels: P3

#324 Bring the docs up to speed
  parcel/Immersion_Freezing.jl
  parcel/Jensen_et_al_2022.jl
  parcel/Liquid_only.jl
  parcel/Tully_et_al_2023.jl
  parcel/parcel.jl
Labels: documentation

#325 Add ML calibrated ARG2000 parameters
  src/AerosolActivation.jl
  src/parameters/AerosolActivation.jl
  src/parameters/toml/ARG2000.toml
  test/aerosol_activation_tests.jl
Labels: Aerosol Activation :bulb:, parameters :bricks:, needs review

#319 "rainbow" ice nucleation parametrization from Frostenberg et al 2023
  docs/bibliography.bib
  docs/src/API.md
  docs/src/IceNucleation.md
  docs/src/plots/Frostenberg_fig1.jl
  src/IceNucleation.jl
  src/parameters/IceNucleation.jl
  test/gpu_tests.jl
  test/heterogeneous_ice_nucleation_tests.jl
  test/performance_tests.jl
Labels: Ice :snowman:, work-in-progress

#305 P3 ice nucleation parameterizations
  docs/bibliography.bib
  docs/src/API.md
  docs/src/IceNucleation.md
  docs/src/IceNucleationParcel0D.md
  parcel/P3_ice_nuc.jl
  parcel/parcel.jl
  src/IceNucleation.jl
  src/parameters/IceNucleation.jl
  test/gpu_tests.jl
  test/heterogeneous_ice_nucleation_tests.jl
  test/performance_tests.jl
Labels: Ice :snowman:

#321 P3 - Lambda Testing
  docs/src/P3Scheme.md
  docs/src/plots/P3LambdaErrorPlots.jl
  docs/src/plots/P3ShapeSolverPlots.jl
  src/P3Scheme.jl
  test/p3_tests.jl
Labels: P3

#331 Refactor parcel
  docs/src/IceNucleationParcel0D.md
  parcel/Example_Deposition_Nucleation.jl
  parcel/Example_Immersion_Freezing.jl
  parcel/Example_Jensen_et_al_2022.jl
  parcel/Example_Liquid_only.jl
  parcel/Example_P3_ice_nuc.jl
  parcel/Example_Tully_et_al_2023.jl
  parcel/Jensen_et_al_2022.jl
  parcel/P3_ice_nuc.jl
  parcel/Parcel.jl
  parcel/ParcelCommon.jl
  parcel/ParcelDistributions.jl
  parcel/ParcelModel.jl
  parcel/ParcelParameters.jl
  parcel/ParcelTendencies.jl
  parcel/Project.toml
  parcel/parcel.jl
Labels: Parcel, needs review

#338 Move GPU CI to the new expansion
  .buildkite/JuliaProject.toml
  .buildkite/pipeline.yml
Labels: GPU, ci

#329 fixing immersion freezing production rate
  box/Alpert_Knopf_2016_forward.jl
  box/box.jl
  docs/src/IceNucleationParcel0D.md
  parcel/Example_Immersion_Freezing.jl
  parcel/ParcelModel.jl
  parcel/ParcelParameters.jl
  parcel/ParcelTendencies.jl
Labels: Parcel, Approved :four_leaf_clover:

#330 comparing activity based IN with P3 IN
  Project.toml
  docs/src/IceNucleation.md
  parcel/Example_P3_vs_activitybased.jl
Labels: Approved :four_leaf_clover:

#337 Update to ClimaParams v0.10
  Project.toml
  README.md
  box/Alpert_Knopf_2016_backward.jl
  box/Project.toml
  docs/Project.toml
  docs/src/DevelopersGuide.md
  docs/src/Microphysics0M.md
  docs/src/Microphysics1M.md
  docs/src/Microphysics2M.md
  docs/src/MicrophysicsNonEq.md
  docs/src/guides/Parameters.jl
  docs/src/plots/ARGplots.jl
  docs/src/plots/ARGplots_fig1.jl
  docs/src/plots/Baumgartner2022_fig5.jl
  docs/src/plots/CLOUD_Nucleation_Plots.jl
  docs/src/plots/Frostenberg_fig1.jl
  docs/src/plots/HomFreezingPlots.jl
  docs/src/plots/Kirkby_organic_nucleation_plots.jl
  docs/src/plots/KnopfAlpert2013_fig5.jl
  docs/src/plots/Microphysics1M_plots.jl
  docs/src/plots/Microphysics2M_plots.jl
  docs/src/plots/P3LambdaErrorPlots.jl
  docs/src/plots/P3SchemePlots.jl
  docs/src/plots/P3ShapeSolverPlots.jl
  docs/src/plots/RainEvapoartionSB2006.jl
  docs/src/plots/Riccobono_mixed_nucleation_plots.jl
  docs/src/plots/T_vs_wateractivity.jl
  docs/src/plots/TerminalVelocityComparisons.jl
  docs/src/plots/Thersholds_transitions.jl
  docs/src/plots/compare_vehkamaki_CLOUD_nucleation.jl
  p3_sandbox/Project.toml
  p3_sandbox/p3_sandbox.jl
  parcel/Example_Deposition_Nucleation.jl
  parcel/Example_Immersion_Freezing.jl
  parcel/Example_Jensen_et_al_2022.jl
  parcel/Example_Liquid_only.jl
  parcel/Example_P3_ice_nuc.jl
  parcel/Example_P3_vs_activitybased.jl
  parcel/Example_Tully_et_al_2023.jl
  parcel/ParcelModel.jl
  parcel/ParcelTendencies.jl
  parcel/Project.toml
  src/Microphysics0M.jl
  src/Nucleation.jl
  src/P3Scheme.jl
  src/parameters/Parameters.jl
  test/Project.toml
  test/aerosol_activation_tests.jl
  test/common_functions_tests.jl
  test/gpu_tests.jl
  test/heterogeneous_ice_nucleation_tests.jl
  test/homogeneous_ice_nucleation_tests.jl
  test/microphysics0M_tests.jl
  test/microphysics1M_tests.jl
  test/microphysics2M_tests.jl
  test/microphysics_noneq_tests.jl
  test/nucleation_unit_tests.jl
  test/p3_tests.jl
  test/performance_tests.jl
Labels: packages 🍱, parameters :bricks:, Approved :four_leaf_clover:

#340 Add a sanity check for GPU pipeline
  test/gpu_tests.jl
  test/runtests.jl
Labels: GPU, Approved :four_leaf_clover:
